<div class="about-wrapper">
    <h3>About Us</h3>
    <p>Fitness Club is an Irish fitness E-commerce Website company determined to supply you with the Highest Quality Products In
        Fitness Equipment at the Best Prices on the market. By working directly with the factories that produce the
        equipment We Cut Out The Middle man and can make Top Quality Products For Low Prices A Reality. We have worked
        for years now with a Large International Customer Base that has grown year on year due to extremely high quality
        of service we pride ourselves on providing. We supply both home use and commercial customers. Whether you are a
        beginning your fitness journey or are a commercial gym owner, we will have the products to suit your needs.
    </p>
</div>