<header class="header-wrapper">
  <div class="nav-logo">
    <div><img class="header-logo" src="../assets/logo/header-logo.png"/>
    <span class="logo-name">Fitness Club</span>
    </div>
  </div>
  <nav class="wrapper">
    <!--Top menu -->
    <ul class="nav-menu">
      <li><a routerLink="/home" routerLinkActive="active" class="header-item">HOME</a></li>
      &nbsp;
      <li><a routerLink="/about" class="header-item">PRODUCTS</a></li>&nbsp;
      <li><a href="#home" class="header-item">ABOUT US</a></li> &nbsp;
      <li><a href="#home" class="header-item">CONTACT US</a></li>&nbsp;
    </ul>
  </nav>

  <div class="nav-sidebar">

    <nav class="wrapper">
      <!--Top menu -->
      <ul class="sidebar">
        <li><a routerLink="/home" routerLinkActive="active" class="header-item">HOME</a></li>
        &nbsp;
        <li><a routerLink="/about" class="sidebar-item">PRODUCTS</a></li>&nbsp;
        <li><a href="#home" class="sidebar-item">BOOK ONLINE</a></li> &nbsp;
        <li><a href="#home" class="sidebar-item">PLANS & PRICING</a></li> &nbsp;
        <li><a href="#home" class="sidebar-item">CONTACT US</a></li>&nbsp;
      </ul>
    </nav>

  </div>
  <div class="nav-search">
    <form class="search-form" action="action_page.php">
      <input type="text" class="search-field" placeholder="Search..." name="search" [(ngModel)]="productInput"/>
      <button type="submit" class="search-btn" (click)="searchProduct()"><i class="fa fa-search"></i></button>
    </form>
  </div>
</header>
<router-outlet></router-outlet>