.header-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    /* display: flex;
    flex-direction: row;
    justify-content: space-between; */
    background-color: #070e16;
    height: 40px;
    /* width: 100%; */
    color: aliceblue;
    padding: 10px 20px;
    z-index: 1;
}
.header-conatiner{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.logo-name {
    color: #ffffff;
    font: normal 36px 'Cookie', cursive;
    margin: 0;
    display: inline-block;
    top: -22px;
    left: 13px;
    position: relative;
} 
.logo-name span {
    color: #e0ac1c;
}
.header-logo {
    width: 74px;
    height: 70px;
    margin-top: -10px;
}

.nav-sidebar {
    display: none;
}

.header-item {
    padding: 10px 10px 0 0;
    color: antiquewhite !important;
    text-decoration: none !important;
}

.nav-menu {
    display: flex;
    flex-direction: row;
    cursor: pointer;
    justify-content: flex-start;
    align-items: initial;
}

.nav-search {
    display: flex;
    flex-direction: row;
    justify-content: normal;
    align-items: center;
}

.search-field {
    padding: 5px;
    padding-right: 25px;
    border: 1px solid #e6e8e6;
    border-radius: 4px;
    height: 18px;
}

.search-btn {
    border: none;
    background: transparent;
    position: relative;
    right: 30px;
    cursor: pointer;
}
ul {
    list-style-type: none;
}
.footer{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #070e16;
    height: 30px;
    width: 100%;
    color: aliceblue;
    padding: 10px 20px;
}
/* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 800px) {
    /* .header-wrapper {
        margin-left: 20vw;
    } */

    .nav-menu {
        display: none;
    }
/* 
    .nav-sidebar {
        display: block;
    } */

    .wrapper .sidebar {
        background: rgb(5, 68, 104);
        position: fixed;
        top: 0;
        left: 0;
        width: 20%;
        height: 100%;
        padding: 20px 0;
        transition: all 0.5s ease;
    }
}
