<div class="product-wrap">
    <div class="top"><span>Our Equipments</span>
        <div class="nav-search">
            <form class="search-form" action="action_page.php">
                <input type="text" class="search-field" placeholder="Search..." name="search"
                    [(ngModel)]="productInput" (ngModelChange)="productInputChange($event)" />
                <span type="submit" class="search-btn"><i class="fa fa-search"></i></span>
            </form>
        </div>
    </div>
    <div class="product-container">

        <div class="product-card" *ngFor="let product of products;let i = index" (click)="navigateToDetails(product)">
            <img src={{product.images[0]}}>
            <div class="text">
                <h1> {{product.productName}}</h1>
                <h3 class="product-brief">Brand: {{product.brand}}</h3>
                <h3 class="product-brief">{{product.price}}</h3>
            </div>
        </div>
    </div>
</div>